html {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-image: url("https://fons.pibig.info/uploads/posts/2023-06/thumbs/1685578093_fons-pibig-info-p-myatnii-fon-pinterest-1.jpg");
    background-size: contain;
    text-align: center;
}

h1 {
    color: white;
    border: 5px dotted white;
    text-align: center;
}

h2 {
    color: rgb(17, 102, 102);
    text-align: left;
}

p {
    font-size: 1rem;
    font-style: oblique;
    color: rgb(17, 102, 102);
    text-align: justify;
}

.white {
    color: white;
}

ul {
    border-top: 3px dotted white;
    border-bottom: 3px dotted white;
    text-align: left;
    list-style-type: circle;
    color: white;
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: white;
}

span {
    color: rgb(17, 102, 102);
    text-decoration: underline;
}

span.teal a {
    color: teal;
}