html {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-image: url("https://fons.pibig.info/uploads/posts/2023-06/thumbs/1685578093_fons-pibig-info-p-myatnii-fon-pinterest-1.jpg");
    background-size: contain;
    text-align: center;
    padding: 25px;
}

h1 {
    color: white;
    width: 400px;
    margin: 0 auto 10px;
}

h2 {
    color: rgb(17, 102, 102);
    text-align: left;
}

.avatar {
    width: 200px;
    border-radius: 50%;
}

p {
    font-size: 1rem;
    font-style: oblique;
    color: rgb(17, 102, 102);
    text-align: justify;
}

.white {
    color: white;
}

ul {
    text-align: left;
    list-style-type: circle;
    color: white;
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: white;
}


.school {
    color: rgb(17, 102, 102);
    text-decoration: underline;
}